<%= form_for(@cup) do |f| %>
  <% if @cup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cup.errors.count, "error") %> prohibited this cup from being saved:</h2>

      <ul>
      <% @cup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_on %><br>
    <%= f.date_select :start_on %>
  </div>
  <div class="field">
    <%= f.label :end_on %><br>
    <%= f.date_select :end_on %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.datetime_select :deadline %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
