<h1>Listing cups</h1>

<table>
  <thead>
    <tr>
      <th>Start on</th>
      <th>End on</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cups.each do |cup| %>
      <tr>
        <td><%= cup.start_on %></td>
        <td><%= cup.end_on %></td>
        <td><%= cup.deadline %></td>
        <td><%= link_to 'Show', cup %></td>
        <td><%= link_to 'Edit', edit_cup_path(cup) %></td>
        <td><%= link_to 'Destroy', cup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cup', new_cup_path %>
